In [45]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
city_data_df = pd.read_csv('Pyber/raw_data/city_data.csv')
ride_data_df = pd.read_csv('Pyber/raw_data/ride_data.csv')

# print(city_data_df.info())
print(city_data_df.head())
print()
print(ride_data_df.head())

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [47]:
average_fare_per_city = (ride_data_df.groupby('city'))['fare'].sum() / (ride_data_df.groupby('city'))['fare'].count()
rides_per_city = (ride_data_df.groupby('city'))['ride_id'].count()
drivers_per_city = (city_data_df.groupby('city'))['driver_count'].sum()
city_types = city_data_df['type'].unique()

print(average_fare_per_city)
print()
print(rides_per_city)
print()
print(drivers_per_city)
print()
print(city_types)

city
Alvarezhaven            23.928710
Alyssaberg              20.609615
Anitamouth              37.315556
Antoniomouth            23.625000
Aprilchester            21.981579
Arnoldview              25.106452
Campbellport            33.711333
Carrollbury             36.606000
Carrollfort             25.395517
Clarkstad               31.051667
Conwaymouth             34.591818
Davidtown               22.978095
Davistown               21.497200
East Cherylfurt         31.416154
East Douglas            26.169091
East Erin               24.478214
East Jenniferchester    32.599474
East Leslie             33.660909
East Stephen            39.053000
East Troybury           33.244286
Edwardsbury             26.876667
Erikport                30.043750
Eriktown                25.478947
Floresberg              32.310000
Fosterside              23.034583
Hernandezshire          32.002222
Horneland               21.482500
Jacksonfort             32.006667
Jacobfort               24.779355
Jasonfort               27.831667
                          ...
South Roy               26.031364
South Shannonborough    26.516667
Spencertown             23.681154
Stevensport             31.948000
Stewartview             21.614000
Swansonbury             27.464706
Thomastown              30.308333
Tiffanyton              28.510000
Torresshire             24.207308
Travisville             27.220870
Vickimouth              21.474667
Webstertown             29.721250
West Alexis             19.523000
West Brandy             24.157667
West Brittanyton        25.436250
West Dawnfurt           22.330345
West Evan               27.013333
West Jefferyfurt        21.072857
West Kevintown          21.528571
West Oscar              24.280000
West Pamelaborough      33.799286
West Paulport           33.278235
West Peter              24.875484
West Sydneyhaven        22.368333
West Tony               29.609474
Williamchester          34.278182
Williamshire            26.990323
Wiseborough             22.676842
Yolandafurt             27.205500
Zimmermanmouth          28.301667
Name: fare, Length: 125, dtype: float64

city
Alvarezhaven            31
Alyssaberg              26
Anitamouth               9
Antoniomouth            22
Aprilchester            19
Arnoldview              31
Campbellport            15
Carrollbury             10
Carrollfort             29
Clarkstad               12
Conwaymouth             11
Davidtown               21
Davistown               25
East Cherylfurt         13
East Douglas            22
East Erin               28
East Jenniferchester    19
East Leslie             11
East Stephen            10
East Troybury            7
Edwardsbury             27
Erikport                 8
Eriktown                19
Floresberg              10
Fosterside              24
Hernandezshire           9
Horneland                4
Jacksonfort              6
Jacobfort               31
Jasonfort               12
                        ..
South Roy               22
South Shannonborough    15
Spencertown             26
Stevensport              5
Stewartview             30
Swansonbury             34
Thomastown              24
Tiffanyton              13
Torresshire             26
Travisville             23
Vickimouth              15
Webstertown             16
West Alexis             20
West Brandy             30
West Brittanyton        24
West Dawnfurt           29
West Evan               12
West Jefferyfurt        21
West Kevintown           7
West Oscar              29
West Pamelaborough      14
West Paulport           17
West Peter              31
West Sydneyhaven        18
West Tony               19
Williamchester          11
Williamshire            31
Wiseborough             19
Yolandafurt             20
Zimmermanmouth          24
Name: ride_id, Length: 125, dtype: int64

city
Alvarezhaven            21
Alyssaberg              67
Anitamouth              16
Antoniomouth            21
Aprilchester            49
Arnoldview              41
Campbellport            26
Carrollbury              4
Carrollfort             55
Clarkstad               21
Conwaymouth             18
Davidtown               73
Davistown               25
East Cherylfurt          9
East Douglas            12
East Erin               43
East Jenniferchester    22
East Leslie              9
East Stephen             6
East Troybury            3
Edwardsbury             11
Erikport                 3
Eriktown                15
Floresberg               7
Fosterside              69
Hernandezshire          10
Horneland                8
Jacksonfort              6
Jacobfort               52
Jasonfort               25
                        ..
South Roy               35
South Shannonborough     9
Spencertown             68
Stevensport              6
Stewartview             49
Swansonbury             64
Thomastown               1
Tiffanyton              21
Torresshire             70
Travisville             37
Vickimouth              13
Webstertown             26
West Alexis             47
West Brandy             12
West Brittanyton         9
West Dawnfurt           34
West Evan                4
West Jefferyfurt        65
West Kevintown           5
West Oscar              11
West Pamelaborough      27
West Paulport            5
West Peter              61
West Sydneyhaven        70
West Tony               17
Williamchester          26
Williamshire            70
Wiseborough             55
Yolandafurt              7
Zimmermanmouth          45
Name: driver_count, Length: 125, dtype: int64

['Urban' 'Suburban' 'Rural']

In [49]:

percentage_driver_by_city_type = (city_data_df.groupby('type'))['driver_count'].sum() / city_data_df['driver_count'].sum()

print(percentage_driver_by_city_type)
print()

type
Rural       0.031054
Suburban    0.190505
Urban       0.778441
Name: driver_count, dtype: float64